H98HASH_RPC_URL=https://ethereum-rpc.publicnode.com
H98HASH_SUBMIT_RPC_URL=https://rpc.flashbots.net/fast
H98HASH_MINER_ADDRESS=0xYourMinerAddress
H98HASH_PRIVATE_KEY=0xYourPrivateKey
H98HASH_BACKEND=metal
H98HASH_THREADS=7
H98HASH_BATCH_SIZE=1048576
H98HASH_POLL_INTERVAL=8
H98HASH_SUBMIT=0
H98HASH_KEEP_MINING=1
H98HASH_WAIT_FOR_MINT_OPEN=1
H98HASH_MIN_PRIORITY_FEE_GWEI=2.5
H98HASH_MAX_FEE_MULTIPLIER=3
H98HASH_MAX_PENDING_SUBMISSIONS=1
